html {
  padding: 40px 0;
}
body {
  font-family: -apple-system, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: #4C93DE;
}
a:hover {
  color: #2D7BCC;
}

h1 {
  font-weight: normal;
}
h1 .main {
  font-family: Futura;
  color: #575757;
  font-size: 44px;
  margin: 20px auto 5px auto;
}
h1 .sub {
  color: #aaa;
  width: 400px;
  font-size: 22px;
  margin: 20px auto 60px auto;
}

.screenshot {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}
.coming {
  margin-top: 60px;
  color: #575757;
  font-family: Futura;
  font-size: 26px;
  text-transform: uppercase;
}
abbr {
  border-bottom: 2px dashed #ddd;
  cursor: help;
}

footer {
  margin-top: 20px;
  font-size: 15px;
  color: #bbb;
}
footer p {
  margin: .6em 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media only screen and (max-device-width: 480px) {
  html {
    padding: 15px 0;
  }
  h1 .sub {
    font-size: 19px;
    width: 300px;
    margin-bottom: 40px;
  }
  .screenshot {
    max-width: 100%;
  }
  .coming {
    margin-top: 40px;
  }
}
