<!DOCTYPE html>
<html>

<head>
    <title>Cryptomeria</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/cm.css">
</head>

<body>
    <div id="content">
        <p class="support">Support: <a href="mailto:liu.dongyuan+cm@gmail.com">liu.dongyuan+cm@gmail.com</a></p>
        <h1>
            <p class="main">Cryptomeria</p>
            <p class="sub">Learn Japanese Kana</p>
        </h1>

        <div id="iOS" class="app">
            <a href="https://itunes.apple.com/us/app/cryptomeria-learn-japanese/id652897313?ls=1&mt=8"><img class="icon" src="/static/images/ios/icon.png"></a>
        </div>
        <div class="description">
            <p>Helping you learn Japanese kana with joy.</p>
            <p>Try to remember kana with kana chart, then test yourself. 
            Just easy.</p>
            <p>More features coming this autumn!</p>
        </div>
        <!-- <p class="hero">スギ</p> -->
        <p class="clearfix footer">Lovingly made by <a href="http://xhacker.im/">Xhacker</a>.</p>
    </div>
</body>

</html>