<!DOCTYPE html>
<html>

<head>
    <title>One Clock</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/oneclock.css">
    <meta name="viewport" content="user-scalable=no, width=device-width">
</head>

<body>
    <h1>
        <p class="main">One Clock</p>
        <p class="sub">All your timezones, in One Clock.</p>
    </h1>

    <img class="screenshot" src="/static/images/oneclock/screenshot.png" alt="Screenshot" width="415">

    <img class="screenshot" src="/static/images/oneclock/screenshot-dark.png" alt="Screenshot Dark" width="415">

    <p class="coming">Coming <abbr title="I hope so! 😂">late 2015</abbr></p>

    <footer>
        <p>Lovingly made by <a href="https://twitter.com/xhacker" target="_blank">@xhacker</a></p>
        <p>© 2015</p>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-51349851-1', 'xhacker.im');
          ga('send', 'pageview');
        </script>
    </footer>
</body>

</html>
